body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 40px;
}
p{
    padding-bottom: 5%;
}

.orange-color{
    color: orange;
}
.top-part{
    background-image: url(pic/download22.jpg);
    padding: 5%;
}
.decorate{
    display: flex;
    margin-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 800;
    border-radius: 20px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 15%;
}
.Middle-part{
    background-image: url(pic/7.png);
    padding: 5%;
}
.Imgdev{
    padding-left: 45%;
    padding-top: 10%;
}
.word-decorate{
    text-align: left;
    padding-left: 20%;
}
.End-part{
    text-align: center;
    padding: 5%;
}
.recipe-item{
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 20px 20px 40px grey;
}
.food-img{
    padding-right: 10px;
    border-radius: 10%;
}