body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 40px;
}
p{
    padding-bottom: 5%;
}
}
.orange-color{
    color: orange;
}
.top-part{
    background-image: url(pic/download22.jpg);
}
.decorate{
    display: flex;
    margin-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 800;
    border-radius: 5px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 15%;
}
